@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0B2434;
    color: white;
}

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}